tests/build/
*.out
*.dSYM/
videos/easy/cses-1638/video.mp4
videos/easy/cses-1638/narration.aiff
videos/easy/cses-1746/video.mp4
videos/easy/cses-1746/narration.aiff
videos/easy/cses-1639/video.mp4
videos/easy/cses-1639/narration.aiff
videos/easy/lc-LongestCommonSubsequence/video.mp4
videos/easy/lc-LongestCommonSubsequence/narration.aiff
videos/easy/usaco-670/video.mp4
videos/easy/usaco-670/narration.aiff
videos/easy/usaco-598/video.mp4
videos/easy/usaco-598/narration.aiff
videos/easy/usaco-718/video.mp4
videos/easy/usaco-718/narration.aiff
videos/easy/cses-1073/video.mp4
videos/easy/cses-1073/narration.aiff
videos/easy/cses-1145/video.mp4
videos/easy/cses-1145/narration.aiff
