tests/build/
*.out
*.dSYM/
videos/easy/cses-1638/video.mp4
videos/easy/cses-1638/narration.aiff
videos/easy/cses-1746/video.mp4
videos/easy/cses-1746/narration.aiff
videos/easy/cses-1639/video.mp4
videos/easy/cses-1639/narration.aiff
videos/easy/lc-LongestCommonSubsequence/video.mp4
videos/easy/lc-LongestCommonSubsequence/narration.aiff
videos/easy/usaco-670/video.mp4
videos/easy/usaco-670/narration.aiff
videos/easy/usaco-598/video.mp4
videos/easy/usaco-598/narration.aiff
videos/easy/usaco-718/video.mp4
videos/easy/usaco-718/narration.aiff
videos/easy/cses-1073/video.mp4
videos/easy/cses-1073/narration.aiff
videos/easy/cses-1145/video.mp4
videos/easy/cses-1145/narration.aiff
videos/easy/cf-977F/video.mp4
videos/easy/cf-977F/narration.aiff
videos/easy/cses-1690/video.mp4
videos/easy/cses-1690/narration.aiff
videos/easy/ac-CloseGroup/video.mp4
videos/easy/ac-CloseGroup/narration.aiff
videos/easy/ac-matching/video.mp4
videos/easy/ac-matching/narration.aiff
videos/easy/ac-grouping/video.mp4
videos/easy/ac-grouping/narration.aiff
videos/easy/cf-1316E/video.mp4
videos/easy/cf-1316E/narration.aiff
videos/easy/usaco-494/video.mp4
videos/easy/usaco-494/narration.aiff
videos/easy/usaco-515/video.mp4
videos/easy/usaco-515/narration.aiff
videos/easy/sapo-15-SpaceJazz/video.mp4
videos/easy/sapo-15-SpaceJazz/narration.aiff
videos/easy/usaco-1114/video.mp4
videos/easy/usaco-1114/narration.aiff
videos/easy/cses-1130/video.mp4
videos/easy/cses-1130/narration.aiff
videos/easy/ac-IndependentSet/video.mp4
videos/easy/ac-IndependentSet/narration.aiff
videos/easy/usaco-766/video.mp4
videos/easy/usaco-766/narration.aiff
videos/easy/cses-1132/video.mp4
videos/easy/cses-1132/narration.aiff
videos/easy/cf-1187E/video.mp4
videos/easy/cf-1187E/narration.aiff
videos/easy/cses-1137/video.mp4
videos/easy/cses-1137/narration.aiff
videos/easy/cses-1139/video.mp4
videos/easy/cses-1139/narration.aiff
videos/easy/cses-1688/video.mp4
videos/easy/cses-1688/narration.aiff
videos/easy/cses-1135/video.mp4
videos/easy/cses-1135/narration.aiff
videos/easy/spoj-KOPC12A/video.mp4
videos/easy/spoj-KOPC12A/narration.aiff
videos/easy/cf-427E/video.mp4
videos/easy/cf-427E/narration.aiff
videos/easy/cf-1355E/video.mp4
videos/easy/cf-1355E/narration.aiff
